/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/03/2017, 00:06:57
    Author     : maimonlior
*/

.wellcomeImg {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

body {
    align-content: center;
}